[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
pylint = "*"

[packages]
django = "*"
"psycopg2-binary" = "*"
python-dotenv = "*"
dj-database-url = "*"
requests = "*"
lxml = "*"
cssselect = "*"
tldextract = "*"
arrow = "*"
nltk = "*"
stanfordcorenlp = "*"
gensim = "*"
scikit-learn = "*"
kpex = {git = "https://github.com/christophfeinauer/kpex"}

[requires]
python_version = "3.6"
