[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
"psycopg2-binary" = "*"
huey = "*"
python-dotenv = "*"
dj-database-url = "*"
redis = "*"

[requires]
python_version = "3.6"
